* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

body {
    background-image: url(./images/woodwall.jpg);
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerContent {
    align-items: center;
    justify-content: space-evenly;
    font-size: 5vw;
    padding: 10px;
}
.navBar li {
    list-style: none;
    margin: 10px;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid;
    border-radius: 5px;
}
.cardsContainer {
    padding: 10px;
}
.card {
    /* border: 1px solid; */
    /* background-color: #f7f7f7; */
    /* border-radius: 10px; */
    margin: 20px;
    /* padding: 10px; */
    width: 300px;
    
}
.card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.card p {
    font-size: 1rem;
    font-weight: 600;
    color: crimson;
}
.card div {
    padding: 10px;
    border-top: none !important;
    border: 1px solid;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0;
    background-color: #f7f7f7;
}

.detailsBtn {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/*========== PUPUP ==========*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    /* transition: transform 0.4s, top 0.4s; */
}
.openPopup {
    /* top: 50%; */
    /* transform: translate(-50%, -50%) scale(1); */
    visibility: visible;
}

.popupTitle {
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.popupTitle p {
    color: crimson;
}
.popupBody p{
    margin: 5px;
}
.popupBody img {
    max-width: 100%;
    max-height: auto;
}

.closeBtn {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 10px;
    border: none;
    background: none;
}
